* {
    margin: 0;
    padding: 0;
}

div {
    display: inline;
}

.red {
    background: red;
    color: #fff;
}

.blue {
    background: blue;
    color: #fff;
}

span {
    display: block;
}

/*img {
            display: none;
        }*/

/* oculta o elemento por completo da página*/

/*div {
            visibility: visible;
        } deixar o elemento visível

        span {
            visibility: hidden;
        } ocultar o elemento, porém seu espaço vazio fica na tela*/



/* transparencia do elemento*/
div {
    opacity: 100%;
}

span {
    opacity: 50%;
}

img {
    opacity: 45%;
    max-width: 200px;
    display: block;
    margin-left: 50px;
}