div {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;    
    margin: 0 auto;
    font-family: 'Tahoma';
}
div#sobre{
    border-bottom: 1px solid #d5d5d5;
}
div#resumo {
    border-bottom: 1px solid #d5d5d5;
}
h2{
    font-size: 24px;
}
h3 {
    font-size: 20px;
    font-family: 'Tahoma';
}
span{
    font-weight: bold;
}
p {
    text-align: center;
    line-height: 28px;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 190px;
}



a {
    font-family: 'Tahoma', sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        background-color: #49b970;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 25px;
}