/*GLOBAL EFFECTS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#inicio {
    background-color: #604829;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;

}
nav{
    position: absolute;
    top: 35%;
    right: 15%;
}
nav a{
    color: #c4a47c;
    text-decoration: none;  
    font-family: 'Oswald', sans-serif;
    
}
.logo-topo {
    width: 100px;
    position: absolute;
    left: 15%;
}
#banner{
    background: url(img/parallax-imagem1.png) center fixed;
    background-size: cover;
    position: relative;    
    width: 100vw;
    height: 100vh;

}
#banner h1 {
    font-family: 'Fraunces', serif;
    color: #fff;
    font-size: 48px;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}
.white {
    color: #fff;
}

.info{
    padding: 80px 0px;
}
.container-texto{
    padding: 0px 20px;
    max-width: 1024px;
}

.img-parallax-1{
    position: relative;
    background: url(img/parallax-imagem2.jpg) fixed no-repeat;
    height: 50vh;
    
}
.titulo-info{
    position: absolute;
    top: 45%;
    right: 0%;
    left: 0%;
    width: 500px;
    padding: 10px;
    font-family: 'Fraunces', serif;
    background-color: #604829;
    color: #fff;
}
.img-parallax-2{
    position: relative;
    background: url(img/parallax-imagem3.jpg) fixed no-repeat;
    height: 50vh;
}


#contatos{
    height: 100vh;
    position: relative;
    background: url(img/parallax-imagem4.png) fixed no-repeat;
}

#contatos h2{
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
}

iframe {
    width: 1024px;
    height: 450px;
    position: absolute;
    top: 23%;
    right: 0;
    left: 0;

}
.cont-bottom{
    background-color: #604829;
    color: #fff;
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 8%;
    right: 0;
    left: 0;
}

#horarios{
    background-image:url(img/cafeteria.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 85vh;
    width: 100%;
    position: relative;
    

}

#horarios h2 {
    color: #fff;
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
}

.funcionamento{
    position: absolute;
    width: 768px;
    bottom: 20%;
    right: 0;
    left: 0;
}
li {
   position: relative;
   list-style-type: none

}
li .linhas{
    position: absolute;
    top: 50%;
    right: 50%;
    
}
li p, li span {
    position: absolute;
    top: 0;
    right: 0;
}

footer{
    position: relative;
    padding: 20px 0;
    background-color: #000000;
}
footer p {
    text-align: center;
    color: #fff;
}

footer a {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 80px;
    right: 50px;
}


