header {
    background-color: #604829;
    position: fixed;
    position: relative;
    width: 100%;
    height: 100px;

}
nav{
    position: absolute;
    top: 35%;
    right: 15%;
}
nav a{
    color: #c4a47c;
    text-decoration: none;  
    font-family: 'Oswald', sans-serif;
    
}
.logo-topo {
    width: 100px;
    position: absolute;
    left: 15%;
}
#banner{
    background: url(img/parallax-imagem1.png) fixed no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;

}
#banner h1 {
    font-family: 'Fraunces', serif;
    color: #fff;
    font-size: 48px;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;


}
.white {
    color: #fff;
}

.info{
    padding: 80px 0px;
}
.container-texto{
    padding: 0px 20px;
    max-width: 1024px;
}

.img-parallax-1{
    position: relative;
    background: url(img/parallax-imagem2.jpg) fixed no-repeat;
    height: 50vh;
    
}
.titulo-info{
    position: absolute;
    top: 45%;
    right: 0%;
    left: 0%;
    width: 500px;
    padding: 10px;
    font-family: 'Fraunces', serif;
    background-color: #604829;
    color: #fff;
}
.img-parallax-2{
    position: relative;
    background: url(img/parallax-imagem3.jpg) fixed no-repeat;
    height: 50vh;
}


#contatos{
    height: 100vh;
    position: relative;
    background: url(img/parallax-imagem4.png) fixed no-repeat;
}

#contatos h2{
    width: 500px;
    padding: 10px;
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
}

iframe {
    width: 1024px;
    height: 450px;
    position: absolute;
    top: 23%;
    right: 0;
    left: 0;

}
.cont-bottom{
    background-color: #604829;
    color: #fff;
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 8%;
    right: 0;
    left: 0;
}

#horarios{
    background: url(img/cafeteria.jpg) fixed no-repeat;
    position: relative;
    height: 85vh;
    width: 100vw;

}

#horarios h2 {
    color: #fff;
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
}

#horarios  .funcionamento{
    position: absolute;
    width: 768px;
    bottom: 20%;
    right: 0;
    left: 0;
}
li {
   position: relative;
}
li p {
    position: absolute;
    top: 0;
    right: 0;
}


